plugins/Georondonia/__pycache__/__init__.cpython-312.pyc
plugins/Georondonia/__pycache__/Georondonia_provider.cpython-312.pyc
plugins/Georondonia/__pycache__/Georondonia.cpython-312.pyc
plugins/Georondonia/algoritmos/__pycache__/__init__.cpython-312.pyc
plugins/Georondonia/algoritmos/__pycache__/geradordeods.cpython-312.pyc
plugins/Georondonia/algoritmos/__pycache__/imgs.cpython-312.pyc
plugins/Georondonia/translations/__pycache__/__init__.cpython-312.pyc
plugins/Georondonia/translations/__pycache__/dictionary.cpython-312.pyc
plugins/Georondonia/translations/__pycache__/translate.cpython-312.pyc
plugins/Georondonia/__pycache__/__init__.cpython-312.pyc
plugins/Georondonia/__pycache__/Georondonia_provider.cpython-312.pyc
plugins/Georondonia/__pycache__/Georondonia.cpython-312.pyc
plugins/Georondonia/algoritmos/imgs.py
plugins/Georondonia/algoritmos/__pycache__/__init__.cpython-312.pyc
plugins/Georondonia/algoritmos/__pycache__/geradordeods.cpython-312.pyc
plugins/Georondonia/algoritmos/__pycache__/imgs.cpython-312.pyc
